.profile {
  display: grid;
  grid-template-columns: 229px minmax(0, 1fr);
  column-gap: 116px;
  margin-top: 47px;
  align-items: start;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-top: 40px;
  }
}
