.page {
  background-color: #f3f3f3;
  min-height: 100vh;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 32px 40px 0;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 18px 16px 0;
  }
}
