.header {
  display: flex;
  align-items: center;
  padding-bottom: 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
