@import url(./vendor/normalize.css);
@import url("./vendor/fonts.css");

body {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  background-color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
